#app {
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    max-width: 100%;
    font-family: "Century Gothic";
    border-radius: 0px;
    margin-top: 0;
    color: #fff;
    padding-top: 0;
    background-size: cover !important;
}

.layer {
    max-height: 100%;
    height: 100%;
    border-radius: 0;
}

#embed {
    width: 53vh;
    height: 30vh;
}

#header {
    display: none !important;
}

#twitter-timeline {
    display: none !important;
}

#about-section {
    display: none !important;
}

